.single-feedback-container{
    padding: 1rem 0;
    width: 70%;
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid grey;
    & .single-feedback-header{
        display: flex;
        justify-content: space-between;
        
    }
    & .feedback-info{
        color: rgb(1, 49, 154);
        font-weight: bold;
    }
    & .feedback-info-rating{
        color:rgb(146, 31, 31);
        font-weight: bold;
    }
    & .feedback-info-comment{
        color:black;
        font-weight: bold;
    } 
}
.single-feedback-container:hover{
    background-color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.5s;

}